<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Yelp Camping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Yelp Camping</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(usuario) { %>
                    <li><a href="#">Olá, <%= usuario.username %></a></li>
                    <li><a href="/sair">Sair</a></li>
                <% } else { %>
                    <li><a href="/entrar">Entrar</a></li>
                    <li><a href="/registrar">Registrar</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<% if(erro && erro.length !== 0) {  %>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= erro %>
    </div>
</div>
<% } %>

<% if(sucesso && sucesso.length !== 0) {  %>
<div class="container">
    <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= sucesso %>
    </div>
</div>
<% } %>

