<% include ../partials/header %>

<div class="container">
    <div class="row">

        <h1 class="text-center">Editar Comentário</h1>
        <div style="width: 30%; margin: 40px auto">
            <form action="/areas-de-camping/<%= areaId %>/comentarios/<%= comentario._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="comentario[texto]" placeholder="Mensagem" rows="6"><%= comentario.texto %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block" type="submit">Salvar</button>
                </div>
            </form>
            <a href="/areas-de-camping/<%= areaId %>">Voltar</a>
        </div>

    </div>

</div>

<% include ../partials/footer %>