<% include ../partials/header %>
<h1>Entrar</h1>

<form action="/entrar" method="post">
    <input type="text" name="username" placeholder="Usuário">
    <input type="password" name="password" placeholder="Senha">
    <input type="submit" value="Entrar">
</form>

<% include ../partials/footer %>