<% include ../partials/header %>

<h1>Registrar</h1>

<form action="/registrar" method="post">
    <input type="text" name="username" placeholder="usuario">
    <input type="password" name="password" placeholder="senha">
    <input type="submit" value="Registrar">
</form>

<% include ../partials/footer %>